
   
-f https://download.pytorch.org/whl/torch_stable.html
numpy
torch==1.10.0+cpu
torchvision==0.11.1+cpu
requests
tabulate
tqdm
cv2
pillow
transformers
spacy
tabulate
efficientnet_pytorch
pytorch_lightning
wandb
pytest